:host {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 24px;
  background: var(--color-header);
}

a {
  color: var(--text-on-card);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}