<div class="auth-card">
  <h2>Alta de usuarios</h2>

  <form [formGroup]="formUsuarios" (ngSubmit)="guardar()">

    <div class="campo">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa el nombre del usuario">
    </div>

    <div class="campo">
      <label for="apellido">Apellido</label>
      <input id="apellido" type="text" formControlName="apellido" placeholder="Ingresa el apellido del usuario">
    </div>

    <div class="campo">
      <label for="fechaNacimiento">Fecha de nacimiento</label>
      <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" />
    </div>

    <div class="campo">
      <label for="tipoSangre">Tipo de sangre</label>
      <select id="tipoSangre" formControlName="tipoSangre">
        <option value="" disabled>Selecciona tu tipo de sangre</option>
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
      </select>
    </div>

    <div class="campo">
      <label for="colorOjos">Color de ojos</label>
      <input id="colorOjos" type="text" formControlName="colorOjos" placeholder="Ingresa el color de ojos">
    </div>

    <div class="campo">
      <label for="diasVacacionesAnio">Días de vacaciones por año</label>
      <input id="diasVacacionesAnio" type="number" formControlName="diasVacacionesAnio" />
    </div>

    <div class="campo">
      <label for="mail">Mail</label>
      <input type="email" id="mail" formControlName="mail" placeholder="Ingresa el mail del usuario">
    </div>

    <div class="campo">
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password" placeholder="Ingresa una contraseña"/>
    </div>

    <div class="campo">
      <label for="rol">Rol</label>
      <select id="rol" formControlName="rol">
        <option value="" disabled>Selecciona el rol</option>
        <option value="empleado">Empleado</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    @if (error()) {
      <p class="error campo-ancho">{{ error() }}</p>
    }

    @if (guardadoOk()) {
      <p class="exito campo-ancho">Usuario guardado con éxito.</p>
    }

    <button type="submit" class="campo-ancho" [disabled]="formUsuarios.invalid || cargando()">
      @if (cargando()) {
        Guardando...
      } @else {
        Dar de alta
      }
    </button>

  </form>
</div>
